*{
    box-sizing: border-box; /*aunque apliquemos margin/padding, la caja no crece*/
}
html {
    height: 100%; /*que el alto de la página html sea 100% de la pantalla, que ocupe toda la pantalla*/
}
body{
    /*para que ocupe el 100% de la pantalla, sin scroll, las propiedades se las tenemos que dar al body*/
    width: 100%; /*que la pagina ocupe toda la pantalla de alto y ancho*/
    height: 100%;
    display: grid;/*para dividir la pantalla por areas*/
    grid-template-areas: /*nombres del grid-area de cada div*/
    "nav nav nav nav"
    "izq izq der der"
    "izq izq der der"
    "izq izq pie pie"
    "izq izq pie pie";
}
#navegacion{
    background-color: darkgrey;
    grid-area: nav;
    display: flex;
    justify-content: center;/*centrar horizontalmente*/
    align-items: center;/*centrar verticalmente*/
}
#izquierda{
    background-color: grey;
    grid-area: izq;
    display: flex;
    justify-content: center;/*centrar horizontalmente*/
    align-items: center;/*centrar verticalmente*/
}
#derecha{
    background-color: red;
    grid-area: der;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pie{
    background-color: whitesmoke;
    grid-area: pie;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 940px) {

    /*tablet*/
    body {
        grid-template-areas: 
            "nav der der izq izq pie pie";
    }
}

@media screen and (max-width: 768px) {

    /*móvil*/
    body {
        grid-template-areas: 
            "izq der"
            "nav pie";
    }
}