<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio3_claudiarubio</title>
    <link rel="stylesheet" href="../css/style3.css">
</head>

<body>
    <!--unica columna contenedor para toda la estructura web-->
    <div id="header" class="row-lg-3 row-md-3 row-sm-3">
        <!--en movil ocupa 2 filas, tablet 2 y ordenador 2-->
        <p>Este es el título de la página web</p>
    </div>
    <div id="nav" class="row-lg-1 row-md-1 row-sm-1">
        <!--en movil ocupa 1 filas, tablet 1 y ordenador -->
        <p>Este es el menú de navegación</p>
    </div>
    <div id="section" class="row-lg-6 row-md-6 row-sm-6">
        <!--en movil ocupa 6 filas, tablet 6 y ordenador 6-->
        <p>Este es el contenido principal</p>
    </div>
    <div id="footer" class="row-lg-2 row-md-2 row-sm-2">
        <p>Copyrigth 2022. Claudia Rubio Menco</p>
        <!--en movil ocupa 2 filas, tablet 2 y ordenador 2-->
        <a href="../index.html">Volver</a>
    </div>


</body>

</html>