<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio4_claudiarubio</title>
    <link rel="stylesheet" href="../css/style4.css">
</head>

<body>
    <div id="cabecera">
        <p>Cabecera</p>
    </div>
    <div id="navegacion">
        <p>Menu de navegación</p>
    </div>
    <div id="izquierda">
        <p>Este es el contenido izquierdo</p>
    </div>
    <div id="derecha">
        <p>Este es el contenido derecho</p>
    </div>
    <div id="pie">
        <p>Pie de foto</p>
        <a href="../index.html">Volver</a>
    </div>


</body>

</html>